body {
  background: linear-gradient(90deg, rgb(16, 60, 255) 0%, rgb(100, 139, 255) 100%);
}

.header {
  font-size: 50px;
  font-weight: 900;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 70%;
  min-height: 600px;
  background: white;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.important-btn {
  margin-right: 5px;
  width: 20px;
  border-width: 1px;
  border-radius: 49%;
  padding: 1px;
  border-color: white;
  color: white;
  background: transparent;
}

h1 {
  margin: 32px 0;
  font-size: 33px;
}

.complete {
  text-decoration: line-through;
}

.todo-form {
  margin-bottom: 32px;
  justify-content: center;
  position: relative;
}

.todo-input {
  padding: 14px 10px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgba(17, 122, 255, 1);
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg, rgba(17, 122, 255, 1) 0%, rgba(20, 159, 255, 1) 100%);
  color: white;
  text-transform: capitalize;
}

.todo-button-delete:hover {
  cursor: pointer;
  color: rgb(182, 9, 9);
}

.todo-button-update:hover {
  cursor: pointer;
  color: salmon;
}

.todo-button-deleteAll:hover {
  cursor: pointer;
}

.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  width: 130px;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 0;
  position: absolute;
  z-index: 1;
  left: 40px;
  bottom: 10px;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: white;
  background: linear-gradient(90deg, rgb(20, 79, 255) 0%, rgb(17, 168, 255) 100%);
  padding: 16px;
  border-radius: 5px;
  width: 90%;
  text-align: left;
}

.iconsContainer {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.seperator {
  height: 1px;
  width: 80%;
  align-self: center;
  background-color: black;
}

#total-tasks {
  color: rgb(156, 115, 115);
  font-size: 30px;
  font-weight: 500;
}
